<div class="d-flex">
  <div class="input-box">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
    </p>
    <ul>
      <li><i class="fas fa-font actions"></i></li>
      <li class='list-inline actions'><i class="fas fa-link"></i></li>
      <li class='list-inline actions'><i class="fas fa-paperclip"></i></li>
      <li class="list-inline ">Cancel</li>
      <li class="list-inline">Save</li>
    </ul>
  </div>
</div>
