#selected_category h5 {
  color: #4ca1fa;
}

#selected_category p {
  color: #474747;
}

.creation_category {
  margin: 20px;
  color: lightgrey;
}

.border-bottom {
  border-bottom: solid 1px #8F99A3;
}

.general-padding-20 {
  padding: 20px;
}

.general-padding-50 {
  padding: 20px 50px;
}

.general-margin-40 {
  margin-top: 10px;
  margin-left: 40px;
}

.to-the-left {
  position: absolute;
  right: 20px;
}

.bigger-date {
  width: 6vw;
}

.wider {
  width: 250px;
  margin-left: 39vw;
}

#patient_gender {
  color: #495057;
  background-color: #fff;
  border-color: #93c4fd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(22, 127, 251, 0.25)
}

.margin-right-50 {
  margin-right: 50px
}

.mr {
  border-bottom: 1px solid lightgrey;
  margin: 20px;
}

.mr_category {
  border-bottom: 1px solid lightgrey;
  margin: 30px 50px;
  color: #7a7a7a;
}

.form_label {
  color: #7a7a7a;
}

.mr_fas {
  color: #b2b2b2;
  padding-top: none;
  margin-bottom: 20px;
}

.btn-success {
  color: white;
}
