.tagbar {
  position: sticky;
  top: 0px;
  display: flex;
  align-item: center;
  background-color: #FAFAFA;
  height: 50px;
  p {
    font-size: 15px;
    color: #7D7683;
    width: 82vw;
  }
  form {
    width: 100%;
  }

  #search {
    width: 100%;
    border: none;
    line-height: 3em;
  }

  .right-side {
    position: absolute;
    right: 5px;
  }

  .left-side {
    position: absolute;
    left: 5px;
  }
}


