  p {
    font-size: 1.5vh;
  }

  h1 {
    font-size: 3.2vh
  }

  h2, header {
    font-size: 2.8vh
  }

  h3 {
    font-size: 2.2vh
  }

  h4, a {
    font-size: 2vh;
  }

  h5 {
    font-size: 1.8vh;
  }

  .settings {
    span {
      font-family: 'Poppins', sans-serif;
      font-size: 2vh;
      font-weight: 500;
    }
    i {
      color: #109CF1;
      font-size: 2.2vh;
    }
  }

  .tabs{
    i, a, p {
      font-size: 1.8vh
    }
  }
